<?xml version="1.0" encoding="utf-8"?>
<Database xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Name="brambora">
	<Skald>
		<Module Name="context">
			<Ports>
				<Port Name="souls" Direction="In" Type="wh::rpgmodule::Souls">
					<DesignName StringName="context_souls_85nS" Text="souls" />
				</Port>
				<Port Name="fight" Direction="In" Type="bool">
					<DesignName StringName="context_fight_99AW" Text="fight" />
				</Port>
			</Ports>
			<Nodes>
				<fightconfiguration_indifference Name="fightconfiguration_indifference" PositionY="0" PositionX="180" Namespace="utils.combat">
					<Constant Name="unarmedonly" Value="false" />
					<Edge From="not1.bool" To="isactive" />
					<Edge From="souls" To="souls">
						<Vertex>vertex1</Vertex>
					</Edge>
				</fightconfiguration_indifference>
				<fightconfiguration_surrendering Name="fightconfiguration_surrendering" PositionY="191" PositionX="134" Namespace="utils.combat">
					<Constant Name="neversurrenderorflee" Value="true" />
					<Constant Name="neveracceptsurrender" Value="true" />
					<Constant Name="decentmercy" Value="false" />
					<Constant Name="alwaysmercy" Value="false" />
					<Edge From="not1.bool" To="isactive" />
					<Edge From="souls" To="souls">
						<Vertex>vertex1</Vertex>
					</Edge>
				</fightconfiguration_surrendering>
				<Function Name="not1" PositionY="40" PositionX="-290" MethodName="math::boolean::Not" DeclaringType="math::boolean">
					<Edge From="fight" To="Value" />
				</Function>
				<SetEntityContext Name="setentitycontext1238" PositionY="-190" PositionX="120">
					<Constant Name="Context" Value="combat_forceArmed" />
					<Edge From="not1.bool" To="IsActive" />
					<Edge From="souls" To="Souls">
						<Vertex>vertex1</Vertex>
					</Edge>
				</SetEntityContext>
			</Nodes>
			<EdgeVertices>
				<EdgeVertex Name="vertex1" PositionY="-16" PositionX="-26" />
			</EdgeVertices>
			<Text StringName="context_z4hT" Text="context" />
		</Module>
	</Skald>
</Database>