<?xml version="1.0" encoding="utf-8"?>
<Database xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" Name="brambora">
  <Skald>
    <Module Name="module">
      <Ports>
        <Port Name="trigget" Direction="In" Type="trigger">
          <DesignName StringName="module_trigget_UdVi" Text="trigget" />
        </Port>
        <Port Name="int" Direction="In" Type="int" />
        <Port Name="bool" Direction="In" Type="bool" />
        <Port Name="asset" Direction="In" Type="wh::entitymodule::Item*" />
      </Ports>
      <Text StringName="module_XFfc" Text="module" />
    </Module>
  </Skald>
</Database>